body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

#add-plan {
    margin-bottom: 20px;
}

#today-plans,
#review-plans {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h1,
h2 {
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

.progress-container {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 10px;
    height: 20px;
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: #d3d3d3;
    text-align: center;
    line-height: 20px;
    /* 使文本垂直居中 */
    color: white;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
}